.booking-wrapper{
  background-image: url('/images/Car-Image.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after{
    content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.49);
      position: absolute;
      z-index: 1;
  }
  .input-wrapper{
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    @include tablet-landscape{
      flex-direction: row;
    }
    .field-wrp{
      display: flex;
      gap: 10px;
      flex-direction: column;
      @include tablet-landscape{
        flex-direction: row;
      }
    }
  }
  .booking-form{
    padding: 40px;
    position: relative;
    z-index: 7;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.77);
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}