$mobile-base-width: 375px;
$mobile-landscape-width: 414px;
$mobile-landscape-end-width: 812.02px;
$tablet-portrait-width: 768px;
$tablet-landscape-width: 992px;
$tablet-custom-width: 991.98px;
$desktop-width: 1200px;
$laptop-width: 1366px;
$desktop-wide-width: 1435px;
$desktop-large-width: 1600px;
$desktop-extra-large-width: 1920px;

/* Media Queries*/
// Small mobile only
@mixin mobile-sm {
  @media (max-width: #{$mobile-base-width - 0.02px}) {
    @content;
  }
} 

// Media query mixins - Mobile Landscape - 414px to up
@mixin mobile-landscape {
  @media (min-width: #{$mobile-landscape-width}) and (orientation: landscape) {
    @content;
  }
}

// Media query mixins - Mobile Landscape - 414px to 767px in landscape
@mixin mobile-landscape-only {
  @media (min-width: #{$mobile-landscape-width}) and (max-width: #{$tablet-portrait-width - 1px}) and (orientation: landscape) {
    @content;
  }
}

// Media query mixins - Mobile Only - less than or equal to 767px
@mixin mobile-only {
  @media (max-width: #{$tablet-portrait-width - 1px}) {
    @content;
  }
}

// Media query mixins - Tablet portrait Only (between 768px - 991px)
@mixin tablet-portrait-only {
  @media (min-width: #{$tablet-portrait-width}) and (max-width: #{$tablet-landscape-width - 1px}) {
    @content;
  }
}

// Media query mixins - Tablet Only (between 992px - 1199px)
@mixin tablet-landscape-only {
  @media (min-width: #{$tablet-landscape-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

// Media query mixins - tablet Only - less than or equal to 1024px
@mixin tablet-only-custom {
  @media (max-width: #{$tablet-landscape-width - 1px}) {
    @content;
  }
}

// Media query mixins - Tablet Portrait - 768px to up
@mixin tablet-portrait {
  @media (min-width: #{$tablet-portrait-width}) {
    @content;
  }
}

// Media query mixins - Tablet Landscape - 992 to up
@mixin tablet-landscape {
  @media (min-width: #{$tablet-landscape-width}) {
    @content;
  }
}

// Media query mixins - Desktop - 1200px to up
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// Media query mixins - Laptop - 1366px to up
@mixin laptop {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}

// Media query mixins - Wide Desktop - 1440px to up
@mixin wide-desktop {
  @media (min-width: #{$desktop-wide-width}) {
    @content;
  }
}

// Media query mixins - Wide Desktop - 1600px to up
@mixin large-desktop {
  @media (min-width: #{$desktop-large-width}) {
    @content;
  }
}

// Media query mixins - extra Wide Desktop - 1920px to up
@mixin extra-large-desktop {
  @media (min-width: #{$desktop-extra-large-width}) {
    @content;
  }
}

//Upto Tablet Landscape Only
@mixin up-to-tablet-landscape {
  @media (max-width: #{$tablet-landscape-width - 0.02px}) {
    @content;
  }
}


//Common styles

.content-width {
  margin: 0 auto;
  padding: 0;
  max-width: calc(100% - 40px);

  @include desktop {
    padding-block: 0;
    padding-inline: 40px;
    max-width: 1400px;
  }
}


.btn{
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  outline: none;
}

.h2-title{
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;
  color: #fff;
}

input{
  border: 0;
  outline: 0;
}

.body-text{
  font-family: "Roboto", sans-serif;
  color: #cecece;
  font-size: 17px;
}

.input-label{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.date-select{
  height: 30px;
  border-bottom: 1px solid #fff;
  color: #d2d2d2;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.submit-btn{
  position: relative;
  border: 0;
  transition: 0.5s;
  z-index: 1;
  min-width: 15rem;
  padding: 1rem 2rem;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
  }
  &.--draw-border {
    &:before,
    &:after {
      box-sizing: inherit;
      border: 2px solid transparent;
      width: 0;
      height: 0;
    }
    &:before {
      top: 0;
      left: 0;
    }
    &:after {
      bottom: 0;
      right: 0;
    }
    &:hover {
      color: var(--primary);
      background: transparent;

      &:before,
      &:after {
        width: 100%;
        height: 100%;
      }
      &:before {
        border-top-color: var(--primary);
        border-right-color: var(--primary);
        transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
      }
      &:after {
        border-bottom-color: var(--primary);
        border-left-color: var(--primary);
        transition: border-color 0s ease-out 0.5s,
        width 0.25s ease-out 0.5s,
        height 0.25s ease-out 0.75s;
      }
    }
  }
}

.booking-app-body{
  .react-datepicker__month-container{
    .react-datepicker__current-month{
      font-family: "Roboto", sans-serif;
      color: #313131;
      font-size: 17px;
      font-weight: 500;
    }
    .react-datepicker__day-name{
      font-family: "Roboto", sans-serif;
      color: #313131;
      font-size: 12px;
      font-weight: 400;
    }
    .react-datepicker__day{
      font-family: "Roboto", sans-serif;
      color: #313131;
      font-size: 12px;
      font-weight: 400;
    }
  }
  .react-datepicker-popper{
    z-index: 3;
  }

  .css-13cymwt-control{
    background-color: none;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
  }
  .css-1u9des2-indicatorSeparator{
    display: none;
  }
}
